.scrollbar-info::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #212121;
        border-radius: 10px; 
}

.scrollbar-info::-webkit-scrollbar {
        width: 8px;
        background-color: #212121; 
}

.scrollbar-info::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #33b5e5; 
}

.scrollbar-info {
        scrollbar-color: #33b5e5 #212121;
}